.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    border-bottom: 1px solid white;

    > div:first-of-type {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        > h2 {
            font-size: 2em;
        }
    }

    & span {
        font-size: 1.4em;
    }
    
    > p {
        font-size: 1.2em;
        text-align: justify;
    }
}

#header {
    align-items: center;
    gap: 32px;
    height: 80vh;
    padding-top: 20vh;

    > h1 {
        font-size: 64px;
    }

    > p {
        font-size: 24px;
    }

    > img {
        border-radius: 50%;
        max-width: 300px;
    }

    > div {
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin-top: 50px;
        height: 8em;
        width: 100%;
    }
}

.section:not(#header) {
    padding: 16px;
    gap: 16px;
    box-sizing: border-box;
}

#about-me {
    > div:nth-of-type(2) {
        display: grid;
        width: 50vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
        box-sizing: border-box;

        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
        }
    }
}