@media screen and (max-width: 500px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 17px;
        font-weight: normal;
        margin: 0 0 10px;
    }

    #projects {
        margin: 30px 0 0;
    }

    #projects > .project {
        margin-bottom: 30px;
    }

    #projects > .project > .header {
        flex-direction: column;
        align-items: flex-start;
    }

    #projects > .project > .header > .name {
        font-size: 22px;
    }
    
    #projects > .project > .header > .history {
        font-size: 14px;
        margin-top: 4px;
        position: initial;
    }

}