@page "/"

<link href="css/Home.css" rel="stylesheet"/>
<link href="css/HomeMobile.css" rel="stylesheet"/>

<div class="section" id="header">
	<h1>Elliott DuCharme</h1>
	<p>Software Engineer, Web Developer</p>
	<img src="https://avatars.githubusercontent.com/u/56001219?v=4" alt="Profile Picture"/>
	<MaterialIcon Icon="expand_more"/>
</div>

<div class="section">
	aaa
</div>