@page "/"

<link href="css/Home.css" rel="stylesheet"/>
<link href="css/HomeMobile.css" rel="stylesheet"/>

<div class="section" id="header">
	<h1>Elliott DuCharme</h1>
	<p>Software Engineer, Web Developer</p>
	<img src="https://avatars.githubusercontent.com/u/56001219?v=4" alt="Profile Picture"/>

	<div>
		<MaterialIcon Icon="expand_more" Size="3em"/>
	</div>
</div>

<div class="section" id="about-me">
	<div>
		<MaterialIcon Icon="person" Size="2em"/>
		<h2>About Me</h2>
	</div>

	<div>
		<div>
			<MaterialIcon Icon="speaker_notes"/>
			<span>He/him</span>
		</div>

		<div>
			<MaterialIcon Icon="school"/>
			<span>Dakota State University</span>
		</div>

		<div>
			<MaterialIcon Icon="place"/>
			<span>Sioux Falls, SD</span>
		</div>

		<div>
			<MaterialIcon Icon="work"/>
			<span>KBR - Software Engineer</span>
		</div>
	</div>

	<p>My name is Elliott DuCharme. I have been working as a software engineer for KBR in Sioux Falls, SD since June 2023. I was the lead Java programmer for my high school's FRC team for three years. My hobbies include archery, D&amp;D, exercise, gaming, and working on personal projects, usually ones that enhance quality of life.</p>
</div>

<div class="section" id="work-experience">
	<div>
		<MaterialIcon Icon="work" Size="2em"/>
		<h2>Work Experience</h2>
	</div>

	<div>
		<span>KBR &mdash; Software/Web Developer</span>
		<span>June 2023 &ndash; Present</span>
	</div>
	
	<div>
		<span>Daktronics &mdash; Software Design Student</span>
		<span>May 2022 &ndash; May 2023</span>
	</div>
</div>

<div class="section">
	<div>
		<MaterialIcon Icon="code" Size="2em"/>
		<h2>Projects</h2>
	</div>

	<p>I've developed several projects over the years that I'm quite proud of.</p>

	<div>
		
	</div>
</div>